<nav
    class="flex w-full flex-wrap justify-center py-5 bg-fuchsia-100 items-center gap-5 sm:justify-between sm:px-12 sm:gap-0 2xl:max-w-7xl 2xl:mx-auto lg:px-40 xl:px-60 2xl:px-3">
    <nav class="flex gap-2 items-center justify-center">
        {% if site.logo %}
        <nav class="w-20">
            <a href="/"><img src="{{ site.logo }}" alt="logo" class="w-full h-full"></a>
        </nav>
        {% endif %}
        <nav>
            <p class="text-lg text-fuchsia-800"><a href="/">{{ site.title }}</a></p>
        </nav>
    </nav>
    <ul class="flex flex-wrap justify-center items-center">
        {% for item in site.menu.main %}
        <li><a href="{{ item.url }}"
                class="px-3 text-center text-base transition-colors text-fuchsia-800 hover:text-fuchsia-600 hover:underline md:px-7">{{
                item.name }}</a></li>
        {% endfor %}
    </ul>
</nav>