<section class="bg-white py-10" id="portfolio">
    <div class="flex flex-col gap-10 justify-center items-center w-full h-full px-5 peer">
        <div class="text-center space-y-7 sm:max-w-lg">
            <h2 class="text-2xl font-bold text-slate-900 lg:text-3xl">{{ page.portfolio_heading }}</h2>
            <p class="text-sm text-slate-700 leading-tight tracking-wide lg:text-base">{{ page.portfolio_para }}</p>
        </div>
        {% for card in page.card %}
        <div class="bg-fuchsia-900 rounded-lg w-full py-5 sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-5xl">
            <div class="w-full h-full flex flex-col gap-7 justify-center items-center sm:flex-row sm:justify-between sm:gap-0">
                <div class="w-full px-3 text-center sm:text-left space-y-5 sm:w-2/4">
                    <h2 class="text-xl font-bold text-slate-100 lg:text-2xl">{{ card.heading }}</h2>
                    <p class="text-sm text-slate-100 leading-tight tracking-wide lg:text-base">{{ card.detail }}</p>
                </div>
                <div class="px-3 w-full sm:pr-5 sm:px-0 sm:w-2/5">
                    <a href="{{ card.img_url }}" target="_blank"><img src="{{ card.img_path }}" alt="image" class="w-full h-full rounded-lg hover:opacity-80 transition-opacity"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>